* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("bg.jpeg");
    background-size: cover;
    text-align: center;
}

.date {
    margin-top: 10px;
    font-size: 25px;
    font-family: verdana;
    color: pink;
    font-weight: bold;
}

div {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    border: 1px black solid;
    background-color: #ffffff57;
    border-radius: 5px;
}

div p {
    padding: 10px 10px;
}
